@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #111111;
	--gray-100: #f1f5f9;
	--gray-200: #e2e8f0;
	--gray-400: #9da4ae;
	--gray-500: #64748b;
	--gray-700: #fafafa;
	--error-500: #ff6e66;
	--error-50: #fef2f2;
	--warning-50: #fffbeb;
	--warning-100: #fef3c7;
	--warning-300: #fdf4e8;
	--warning-500: #f59e0b;
	--warning-600: #794716;
	--warning-700: #b45309;
	--success-300: #4ade80;
	--blue-100: #ebf2ff;
	--sec: #415be6;

	--bg: #fcfcfc;
	--gray-300: #f4f7fa;
}

* {
	@apply border-[#F1F5F9];
}

h3,
label {
	@apply text-primary font-medium;
}

p,
option {
	@apply text-gray-500 font-light;
}
a {
	@apply font-normal;
}
input,
select {
	@apply text-primary font-light focus:outline-none;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@font-face {
	font-family: "Satoshi";
	src: url("../assets/fonts/Satoshi-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("../assets/fonts/Satoshi-Medium.otf") format("opentype");
	font-weight: medium;
}
@font-face {
	font-family: "Satoshi";
	src: url("../assets/fonts/Satoshi-Bold.otf") format("opentype");
	font-weight: bold;
}
@font-face {
	font-family: "Satoshi";
	src: url("../assets/fonts/Satoshi-Light.otf") format("opentype");
	font-weight: 300;
}
@font-face {
	font-family: "Satoshi";
	src: url("../assets/fonts/Satoshi-Black.otf") format("opentype");
	font-weight: 900;
}

body {
	@apply w-full h-screen bg-bg;
}

* {
	@apply font-satoshi;
}
.company {
	box-shadow: 0px 4px 4px 0px #0000000d inset;
}

.card {
	box-shadow: 0px 25px 50px -12px #0f172a0d;
	@apply border-[1px] border-gray-100;
}
.selectedStock {
	box-shadow: 0px 2px 4px -2px #0f172a0d;
	box-shadow: 0px 4px 6px -1px #0f172a1a;
}

::-webkit-scrollbar-thumb {
	@apply !bg-sec;
}

.days::-webkit-scrollbar-thumb {
	@apply !bg-sec !hidden;
}

@media screen and (min-width: 768px) {
	::selection {
		@apply bg-sec !text-white opacity-100;
	}
	::-webkit-scrollbar {
		@apply w-1 h-1;
	}

	::-webkit-scrollbar-track {
		@apply bg-gray-100 !w-[1px] md:w-[10px];
	}

	::-webkit-scrollbar-thumb {
		@apply bg-sec rounded-[20px];
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-[red];
	}
}

.drugs-table {
	grid-template-columns: repeat(24, 1fr);
}

/* React select */
